html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#ptotemy-game {
    position: relative;
    width: 640px;
    height: 480px;
    margin: auto;
    overflow: hidden;
}

#log {
    display: none;
}

#entities, #items {
    display: none;
}

img {
    width: 100%;
}

.environment, .location, .entity, .item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Specify the location, height and width of the elements */

#base img {
    width: 100%;
    height: 100%;
}

#ladder {
    background: rgba(26, 188, 167, 0.1);
    width: 30%;
    left: 69%;
    height: 74%;
    top: 3%;
    border: 2px solid #b8adde;
}

#ladder .location {
    position: relative !important;
    /*background: rgba(240, 228, 55, 1);*/
    margin-top: 7px;
    margin-left: 8%;
    padding: 2%;
    height: 20px;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    /*box-shadow:inset 3px 3px 3px #B3852A;*/
    color: white;
}

#lifelines {
    /*background: rgba(26, 188, 167, 0.1);*/
    top: 79%;
    left: 69%;
    width: 30%;
    height: 12%;
    text-align: center;
    /*border: 2px solid #b8adde;*/
}

#lifelines .location {
    position: relative;
    width: 27%;
    margin: 1%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    height: 90%;

}

.lifeline-text {
    border-radius: 5px;
    border: 1px solid whitesmoke;
    padding: 5px;

    position: absolute;
    color: white;
}

#life1 {
    left: 0%;
}

#life2 {
    left: 37%;
}

#life3 {
    left: 28%;
}

#kbc-lifeline{
    background: none repeat scroll 0 0;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: white;
    display: none;
    font-size: 1em;
    height: auto;
    margin-left: 6%;
    margin-top: 10%;
    padding: 4%;
    position: absolute;
    width: 50%;
    z-index: 2;
}
#kbc-lifeline p {
    width: 87%;
    text-align: center;
    padding: 5%;

}
#messageOk, #messageCancel {
    border: 1px solid white;
    padding: 3%;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin: 3%;

}

#messageOk2 {
    border: 1px solid white;
    bottom: 5%;
    left: 45%;
    position: absolute;
    padding: 1%;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
#player {
    background: rgba(255, 136, 0, 0.6);
    border-radius: 10px;
}

#ladder .location .completed {
    color: gold;
}

#poll {
    background: none repeat scroll 0 0;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: white;
    display: none;
    font-size: 1em;
    height: 40%;
    margin-left: 5%;
    margin-top: 10%;
    padding: 4%;
    position: absolute;
    width: 50%;
    z-index: 2;
}



#A {
    top: 15%;
    width: 25%;
    height: 7%;
    background-color: red;
    left: 0%;
    border-radius: 1px 20px 20px 1px;
}
#B{
    top: 30%;
    width: 60%;
    height: 7%;
    background-color: red;
    left: 0%;
    border-radius: 1px 20px 20px 1px;
}
#C{
    top: 45%;
    width: 10%;
    height: 7%;
    background-color: red;
    left: 0%;
    border-radius: 1px 20px 20px 1px;
}
#D{
    top: 60%;
    width: 5%;
    height: 7%;
    background-color: red;
    left: 0%;
    border-radius: 1px 20px 20px 1px;
}
.lifeline-selected{
    pointer-events: none;
}

#message-box {
    background: rgba(1, 1, 1, 0.8);
    z-index: 1000;
    display: none;
}

#message {
    height: 23%;
    width: 30%;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: whitesmoke;
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 1001;
    text-align: center;
    padding-top: 7%;
}